<footer class="main-footer">
  <div class="developer">
    <a href="https://www.linkedin.com/in/edypnog/" target="_blank" rel="noreferrer noopener">Projected by Edy Nogueira</a>
  </div>

  <i class="fa fa-heart" aria-hidden="true"></i>

  <div class="powered">
    <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
  </div>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptates, aperiam debitis numquam, tempora corrupti minima commodi velit fuga libero beatae sapiente nisi, deleniti soluta.
  </p>
</footer>